.wp-block-mytheme-blocks-secondblock {
  background-color: #524d4b;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  &.is-style-squared {
    border-radius: 0;
  }
  &.is-style-outline {
    border-radius: 0;
    border: 5px solid #ff0000;
  }
  &.has-shadow {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  &.has-shadow-opacity-10 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  &.has-shadow-opacity-20 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  &.has-shadow-opacity-30 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  &.has-shadow-opacity-40 {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }
}
