.wp-block-mytheme-blocks-team-members {
  display: block;
  margin-left: 0;
  margin-right: 0;

  @for $i from 1 through 6 {
    &.has-#{$i}-columns {
      [data-type="mytheme-blocks/team-member"] {
        width: calc(100% /#{$i});
      }
    }
  }

  .block-editor-inner-blocks > .block-editor-block-list__layout {
    // > .block-editor-block-list__block
    display: flex;
    flex-wrap: wrap;

    .block-list-appender {
      width: 100%;
      background-color: #1e1e1e;
    }

    > [data-type="mytheme-blocks/team-member"] {
      max-width: none;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .wp-block-mytheme-blocks-team-member {
    margin: 0;
    width: auto !important;
  }
}
